body{
    text-align: center;
    background-color: bisque;
    font-family:cursive,sans-serif;
}
a{
    text-decoration: none;
    color: rgb(189, 58, 171);
}
a:hover{
    text-decoration-line: underline;
}